<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Condicionais</title>
</head>
<body>
    <div id="app">

        <template v-if="logado">
            <p>Usuario Logado : {{nome}}</p>
            <p>Perfil: Admin</p>
        </template>

        <p v-if="logado">Usuario Logado {{nome}}</p>
        <p v-if="!logado">Nemhum Usuario Logado</p>
        <button @click="logado = !logado">{{logado ? 'Sair':'Entrar'}}</button>
    </div>

    <script>
        new Vue({
            el:'#app',
            data:{
                nome:'maria',
                logado:false,
            }
        })
    </script>


</body>
</html>