<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listas V4</title>
    <script src="https://unpkg.com/vue"></script>

</head>
<body>

    <div id="app">
        <ul>
            <li v-for="(cor, i) in cores"
            :key="cor"
            >{{i}} - {{cor}}</li>
        </ul>

        <button @click="cores.push('Branca')">Adicionar</button>


<!--        <h5>Lista de pessoas</h5>-->

<!--        <ul v-for="(pessoa, i) in pessoas">-->
<!--            <li>ID = {{i}}</li>-->
<!--            <li>Nome: {{pessoa.nome}}</li>-->
<!--            <li>Idade: {{pessoa.idade}}</li>-->
<!--            <li>Peso: {{pessoa.peso}}</li>-->
<!--        </ul>-->


    </div>




    <script>
        new Vue ({
            el:'#app',
            data:{
                cores:['Vermelho','verde','rosa','amarelo'],
                pessoas:[
                    {nome:'Ana',idade:22,peso:60},
                    {nome:'João',idade:24,peso:90},
                    {nome:'Carlos',idade:22,peso:160},
                ]
            },
            methods:{
                addCor(){
                    alert('funciona')
                }
            }
        })
    </script>

</body>
</html>